.login {
   width: 20rem;
   border-radius: 0.5rem;
   box-shadow: 0 0 25px silver;
   padding: 3rem 3rem 4rem;
   margin: auto;
   display: flex;
   flex-direction: column;
}

.avatar {
   text-align: center;
   margin-bottom: 2rem;
}

.avatar__image {
   border-radius: 50%;
   margin-bottom: 0.5rem;
   box-shadow: 0 5px 10px -2px;
}

.avatar__name {
   font-weight: bold;
}

.input {
   padding: 1rem 1.5rem;
   background: #c0c0c022;
   margin-bottom: 0.5rem;
   border-radius: 0.25rem;
}

.input__email, .input__password, .form__button {
   display: block;
   width: 100%;
}

.input__email::placeholder, .input__password::placeholder {
   opacity: 0.25;
}

.input__label {
   font-size: 0.65rem;
   font-weight: 600;
   padding-left: 0.15rem;
   color: #8a8a8a;
}

.input__email, .input__password {
   border: 0;
   height: 1.rem;
   background: none;
   font-weight: bold;
   color: #494949;
   outline: none;
   border-bottom: 1px solid transparent;
}

.input__email:focus, .input__password:focus {
   border-bottom-color: silver;
}

.form__button {
   padding: 1rem;
   border: 0;
   border-radius: 0.25rem;
   background: dodgerblue;
   color: white;
   font-weight: bold;
   box-shadow: 0 5px 5px #696969AA;
   cursor: pointer;
   transition: box-shadow 0.25s, transform 0.05s;
}

.form__button:hover {
   box-shadow: 0 5px 15px #696969;
}

.form__button:active {
   transform: translateY(2px);
}

.form__button:last-of-type {
   margin-top: 1rem;
}