.navbar {
   overflow: hidden;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 64px 0 64px;
   width: 100%;
   max-width: 1200px;
   box-sizing: border-box;
   padding-left: 32px;
   padding-right: 32px;
   margin-left: auto;
   margin-right: auto;

   margin-bottom: 16px;
   display: -webkit-box;
   display: -ms-flexbox;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   -webkit-box-align: center;
   -ms-flex-align: center;
}

.borderBox {
   border-bottom: 1px solid #E6E9EB;
   background-color: #3432ff;
}

.navbar img {
   margin: 0;
   min-width: 110px;
   max-width: 110px;
   height: auto;
}

@media screen and (min-width: 992px) {
   .navbar {
      padding-top: 36px;
      margin-bottom: 36px;
   }
}

@media screen and (min-width: 576px) {
   .navbar {
      padding-left: 64px;
      padding-right: 64px;
   }
}

@media screen and (min-width: 1440px) {
   .navbar {
      padding-left: 0;
      padding-right: 0;
   }
}