.container {
   padding: 4rem 0 4rem 0;
   background-color: #3432ff;
   color: white;
}

.boxContainer {
   box-sizing: border-box;
   width: 100%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
}

.footer {
   box-sizing: border-box;
   padding-left: 32px;
   padding-right: 32px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
   max-width: 1200px;
}

.footer button {
   background: transparent;
   border: none;
   border-bottom: 5px solid transparent;
   border-top: 3px solid transparent;
   cursor: pointer;
   margin-left: 12px;
   margin-right: 12px;
   font-weight: 700;
   font-size: 18px;
   font-family: inherit;
   color: #fff;
}

.footerMenu {
   box-sizing: border-box;
   margin-bottom: 0;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: row;
   justify-content: space-around;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

.column1 {
   display: flex;
   flex-direction: row;
   flex: 1;
}

.column1 .footerLogo {
   box-sizing: border-box;
   margin-right: 16px;
   margin-bottom: 24px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: flex-start;
   -webkit-box-align: flex-start;
   -ms-flex-align: flex-start;
   align-items: flex-start;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   min-width: 110px;
}

.column1 .footerText {
   box-sizing: border-box;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
}

.column1 .footerText div:first-child {
   margin-bottom: 16px;
}

.column1 img {
   box-sizing: border-box;
   margin: 0;
   min-width: 140px;
   max-width: 140px;
   height: 91px;
}

@media screen and (min-width: 576px) {
   .footer {
      padding-left: 64px;
      padding-right: 64px;
   }
}

@media screen and (max-width: 800px) {
   .boxContainer {
      flex-direction: column;
   }
}